<!--
The footer
Basically throw any cabbage that ends up at the bottom of any "normal" page here.
It's included basically everywhere
-->
<section id="footer">
  <span class="right-thing">baaaaaa</span>
</section>
