<!--
The header
Because cabbage
-->
<section id="header">
  <span class="logo">
    <a href="/"></a>
  </span>
  <span class="header-links">
    <a href="/sif/gacha">SIF Gacha</a>
  </span>
</section>
