<!--
The header
Because cabbage
-->
<section id="header">
  <a class="logo-container" href="/">
    <strong>CHUUNI</strong>
  </a>
  <span class="header-link-container">
    <a class="header-link" href="/sif/gacha">SIF Gacha</a>
    <a class="header-link" href="/blog">Blog</a>
  </span>
</section>
