<html>
  <head>

  </head>

  <body>
    <h1>This is my sample site</h1>

    <p>HTML Generated entirely using Handlebars.js</p>

    <p>
      You can refer to template variables like this: {{variable1}}
      and like this: {{variable2}}
    </p>

    <table>
      <thead>
        <tr>
          <th>And you can iterate over arrays</th>
          <th>as shown below</th>
        </tr>
      </thead>
      <tbody>
        {{#each foo_array}}
          <tr>
            <td>{{foo_name}}</td>
            <td>{{foo_value}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </body>
</html>
