.blog-container .entry-container .entry-title-container {
  margin-bottom: 20px;
}


.blog-container .entry-container .entry-title {
  font-weight: 700;
  font-size: 20px;
  border-bottom: medium;
}

.blog-container .entry-container .entry-date {
  font-weight: lighter;
  font-size: 18px;
  margin-left: 15px;
}


.blog-container .entry-container .entry-body div {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
