.blog-container {
    padding: 10px;
    border: 3px;
    border-color: black;
    border-style: dashed;
}

.blog-nav-container {
    padding: 5px;
    border: 3px;
    border-color: blue;
    border-style: dashed;
}

.blog-archive-container {
    padding: 5px;
    border: 3px;
    border-color: green;
    border-style: dashed;
}

.blog-header {
    text-align: center;
}

.blog-content {
    margin: 5px;
    padding: 5px;
    border: 3px;
    border-color: deeppink;
    border-style: dashed;
}

.blog-title {

}

.blog-date {

}

.blog-entry {
    margin: 10px;
    padding: 5px;
    border: 3px;
    border-color: red;
    border-style: dashed;
}

.blog-footer {
    text-align: center;
}
