@import url('https://fonts.googleapis.com/css?family=Roboto:100|Shrikhand');

body {
  font-family: 'Shrikhand', cursive;
}

.square {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin: 0.5px;
  background-color: #a8c9ff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.rectangleLarge {
  float: left;
  position: relative;
  width: 90%;
  padding-bottom: 30%;
  margin: 0.5px;
  background-color: #a8c9ff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#bunny {
  align-self: center center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.a_1 {
}
.a_2 {
}
.a_3 {
}

.b_1 {
  background-color: #ffe3ce;
}
.b_2 {
  background-color: #ffe3ce;
}
.b_3 {
  background-color: #ffe3ce;
}

.c_1 {
}
.c_2 {
}
.c_3 {
}
