@import url('https://fonts.googleapis.com/css?family=Roboto:100|Shrikhand');

body {
  font-family: 'Shrikhand', cursive;
}

h1 {
  margin: auto;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(150, 150, 150, 0.5);
  font-size: 7vw;
  font-size: 7vh;
  letter-spacing: 0.05em;

  width: 100%;
}

p {
  float: left;
  margin: auto;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(255,255, 255, 0.5);

  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5vw;
}

a {
  color: white;
}

.fixedLink {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-left: 60px;
  padding-bottom: 60px;
  z-index: 999;
}

div {
  display: flex;
  flex-wrap: wrap;
  /* thess two are crucial */
}

.fullPage {
  height: 100%;
  width: 100%;
  margin-right: 60px;
  margin-left: 60px;
}

#pageOne {
  background-color: #ffe3ce;
  height: 100%;
  width: 100%;
}

#pageTwo {
  background-color: #2b8bb8;
  height: 100%;
  width: 100%;
}

#pageThree {
  background-color: #b82b2b;
  height: 100%;
  width: 100%;
}
#pageThree h1 {
  margin-bottom: 0px;
  color: white;

}
#pageThree p {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  color: white;
}

  /* TANish: #ffe3ce; */
  /* BLUEish: #2b8bb8  */
  /* REDish: #b82b2b */
