header, footer {
    padding: 1em;
    color: white;
    background-color: F53D41;
    clear: left;
    text-align: center;
}
body {
  font-size: 12px
  font-family: sans-serif;
  background-color: FED958;
}
h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.25em;
  color: FED958;
}
p {
  font-family: sans-serif;
  color: F53D41;
  text-align: center;
}
ul {
  font-family: sans-serif;
  color: F53D41;

  margin-left: 15px;

  border-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-spacing: 15px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
li {
  font-family: sans-serif;
  color: F53D41;
}
