/* Main CSS File */
* {
  font-family: 'Josefin Sans', sans-serif;
}

#header, #footer {
  /* BRAND COLORS BABY */
  background-color: #22243a;
  padding: 5px;
}

#header {
  background-color: #22344f;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#header .logo-container {
  min-width: 100px;
  margin-right: 100px;
  padding: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  color: #E71695;
}

#header .header-link-container {
  margin-left: 20px;
}

#header .header-link-container .header-link {
  display: inline-block;
  text-decoration: none;
  color: #E71695;
  margin: 0 20px;
}

#body {
  min-height: 750px;
  padding: 50px 100px;
  background-color: black;
  color: #E71695;
}

#footer {
  height: 60px;
}

#footer .right-thing {
  float: right;
  font-size: 2px;
}

