.menu-item-icon {

}

.search-box {

}

.top-navbar {
    background-color: royalblue;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.nav-dropdown {
    color: white;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

.blog-pagination {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0;
    margin-bottom: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    text-align: center;
}

.blog-page {
    border: 1px solid #ddd !important;
}
