.menu-item-icon {

}

.search-box {

}

.navbar {
    background-color: royalblue;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

.blog-bar {
    background-color: royalblue;
    text-align: center;
}
