.hide {
  display: none;
}

.envelope-image-container {
  text-align: center;
  height: 678px;
  max-width: 1024px;
}

.envelope-image {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  max-width: 50%;
}

.envelope-enter {
  width: 270px;
}
.envelope-enter.envelope-enter-active {
  width: 280px;
  transition: width 450ms;
}
.envelope-enter-done {
  width: 280px;
}

.aidoru-name a {
  text-decoration: none;
  color: #E71695;
}

.opened-card-container {
  text-align: center;
  height: inherit;
  opacity: 0;
}
.opened-card-enter {
  opacity: 0.01;
}
.opened-card-enter.opened-card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.opened-card-enter-done {
  opacity: 1;
}

.aidoru-name {
  display: block;
}

.gacha-container {
  height: 678px;
  max-width: 1024px;
  margin: auto;
}

.gacha-dialogue {

}

.aidoru-image {
  height: 75%;
  padding: 15px;
}

.gacha-button {
  background-color: royalblue;
}
