// All secret keys and tokens can be stored here and are .gitignored
module.exports = {
  port: 8000,
  db: {
    host: '',
    db: '',
    user: '',
    password: '',
  },
  secret: '',
  slack: {
    bot_user_id: '',
    bot_token: ',
  },
  nicobot: {
    bot_user_id: '',
    bot_token: '',
  }
};
