// All secret keys and tokens can be stored here and are .gitignored
module.exports = {
  port: 8000,
  db: {
    host: '',
    db: 'chuuni',
    user: 'root',
    password: '',
  },
  secret: 'some_secret_for_sessions_on_dev',
  slack: {
    bot_user_id: '',
    bot_token: '',
  },
  nicobot: {
    bot_user_id: '',
    bot_token: '',
  },
  fsd_workspace: {
      legacy_token: '',
  },
};
